@{
    ViewData["Title"] = "Inicio";
}

<div class=" row justify-content-center">
    <div class="col-md-8">
        <br />

        <div class="card border-warning">
            <div class="card-body">
                <div class="text-center font-weight-bolder">
                    <h5 class="font-weight-bolder" style="color: #F98B06; font-size:x-large ">COOPERATIVA DE AHORRO Y CREDITO EDUCADORES DE HONDURAS LIMITADA COACEHL</h5>
                    <br />
                    <br />
                    <h5 class="font-weight-bolder" style=" font-size: x-large "> Ingrese su número de identidad:</h5>
                    <form method="post">
                        <div class="row justify-content-center">
                            <div class="col-6 ">
                                <input type="text" class="form-control text-center" id="identidad" min="13" maxlength="13" onkeypress="return permite(event, 'num')">
                            </div>
                        </div>
                        <br />
                        <div id="evaluate">
                            <div class="row justify-content-center">
                                <button type="button" class="btn btn-lg " style="background-color: #FDA944; border-bottom-color: #ffffff;margin: 4px; font-size: 30px" value="1">1</button>
                                <button type="button" class="btn btn-lg" style="background-color: #FDA944; border-bottom-color: #ffffff; margin: 4px; font-size: 30px" value="2">2</button>
                                <button type="button" class="btn btn-lg" style="background-color: #FDA944; border-bottom-color: #ffffff; margin: 4px; font-size: 30px" value="3">3</button>
                            </div>
                            <div class="row justify-content-center">
                                <button type="button" class="btn btn-lg" style="background-color: #FDA944; border-bottom-color: #ffffff; margin: 4px; font-size: 30px" value="4">4</button>
                                <button type="button" class="btn btn-lg" style="background-color: #FDA944; border-bottom-color: #ffffff; margin: 4px; font-size: 30px" value="5">5</button>
                                <button type="button" class="btn btn-lg" style="background-color: #FDA944; border-bottom-color: #ffffff; margin: 4px; font-size: 30px" value="6">6</button>
                            </div>
                            <div class="row justify-content-center">
                                <button type="button" class="btn btn-lg" style="background-color: #FDA944; border-bottom-color: #ffffff; margin: 4px; font-size: 30px" value="7">7</button>
                                <button type="button" class="btn btn-lg" style="background-color: #FDA944; border-bottom-color: #ffffff; margin: 4px; font-size: 30px" value="8">8</button>
                                <button type="button" class="btn btn-lg" style="background-color: #FDA944; border-bottom-color: #ffffff; margin: 4px; font-size: 30px" value="9">9</button>
                            </div>
                            <div class="row justify-content-center">
                                <button type="button" class="btn btn-lg" style="background-color: #FDA944; border-bottom-color: #ffffff; margin: 4px; font-size: 30px" value="0">0</button>
                                <button type="button" class="btn btn-lg" style="background-color: #FDA944; border-bottom-color: #ffffff;margin: 4px; font-size: 20px"> BORRAR</button>
                            </div>
                        </div>
                        <br />
                        <br />
                        <br />

                        <div class="row justify-content-md-center">
                            <!--<button type="button" class="btn btn-primary">ACEPTAR</button-->
                            @*<a href="" class="btn btn-lg font-weight-bold" style="background-color: #FDA944; border-bottom-color: #ffffff; font-size: 20px" role="button">ACEPTAR</a>*@
                            <button class="btn btn-lg font-weight-bold" style="background-color: #FDA944; border-bottom-color: #ffffff; font-size: 20px" role="button" asp-controller="Home" asp-action="Categorias">ACEPTAR</button>
                        </div>
                    </form>
                    <blockquote class="blockquote mb-0">
                        <img id="image" src="/imagenes/logo.png" alt="Picture" class="float-left" width="100" height="100">
                    </blockquote>
                </div>
            </div>
        </div>
    </div>
</div>

