@{
    ViewData["Title"] = "Inicio2";
}



<div class=" row justify-content-center">
    <div class="col-md-8">
        <div class="card border-primary">
            <div class="card-body">
                <div class="text-center font-weight-bolder">
                    <h5 class="font-weight-bolder text-primary">COOPERATIVA DE AHORRO Y CREDITO EDUCADORES DE HONDURAS LIMITADA COACEHL</h5>
                    <br />
                    <br />
                    <label> Ingrese su número de identidad:</label>
                    <div class="row justify-content-center">

                       
                        <div class="col-6 "><input type="text" class="form-control text-center" id="identidad" min="13" maxlength="15" onkeypress="return permite(event, 'num_car')"></div>

                    </div>
                    <br />

                    <div class="row justify-content-center">
                        <button type="button" class="btn btn-lg btn-primary" style="margin: 4px">1</button>
                        <button type="button" class="btn btn-lg btn-primary" style="margin: 4px">2</button>
                        <button type="button" class="btn btn-lg btn-primary" style="margin: 4px">3</button>
                    </div>
                    <div class="row justify-content-center">
                        <button type="button" class="btn btn-lg btn-primary" style="margin: 4px">4</button>
                        <button type="button" class="btn btn-lg btn-primary" style="margin: 4px">5</button>
                        <button type="button" class="btn btn-lg btn-primary" style="margin: 4px">6</button>
                    </div>
                    <div class="row justify-content-center">
                        <button type="button" class="btn btn-lg btn-primary" style="margin: 4px ">7</button>
                        <button type="button" class="btn btn-lg btn-primary" style="margin: 4px">8</button>
                        <button type="button" class="btn btn-lg btn-primary" style="margin: 4px">9</button>
                    </div>
                    <div class="row justify-content-center">
                        <button type="button" class="btn btn-lg btn-primary" style="margin: 4px ">0</button>
                        <button type="button" class="btn btn-lg btn-primary" style="margin: 4px; font-size:medium"> BORRAR</button>
                    </div>
                    <br />
                    <br />
                    <br />
                    <div class="row justify-content-md-center">
                        <!--<button type="button" class="btn btn-primary">ACEPTAR</button-->
                        <a href="" class="btn btn-md font-weight-bold btn-primary" role="button">ACEPTAR</a>
                    </div>

                    <blockquote class="blockquote mb-0">
                        <img id="image" src="/imagenes/logo.png" alt="Picture" class="float-left" width="100" height="100">
                    </blockquote>
                </div>
            </div>
        </div>
    </div>
</div>
