

<!-- Modal body -->

    <h6 class="text-center font-weight-bold text-body">COOPERATIVA DE AHORRO Y CREDITO EDUCADORES DE HONDURAS LIMITADA COACEHL</h6>
    <br />
    <div class="row justify-content-center">
        <!--<h4 class="font-weight-bold">Bienvenido</h4>-->
        <ul class="list-inline">
            <li class="list-inline-item">
                <label class="font-weight-bold text-body font-16" for="bienvenido">BIENVENIDO </label>
                <label class="font-weight-bold text-body font-16" for="nom_cliente">JUAN GARCIA</label>
            </li>
        </ul>

    </div>
    <br />
    <div class="row justify-content-center">
        <label class="font-weight-bold text-body font-16" for="ticket">NUM. DE TICKET</label>
    </div>
    <div class="row justify-content-center">
        <label class="font-30 font-weight-bold text-body" for="num_ticket">CA002</label>
    </div>
    <br />
    <div class="row justify-content-center">
        <label class="font-weight-bold text-body font-16" for="filial">OFICINA PRINCIPAL</label>
    </div>
    <br />
    <div class="row justify-content-center">
        <ul class="list-inline">
            <li class="list-inline-item">
                <label class="text-body font-weight-bold" for="fe">FECHA: </label>
                <label class="font-weight-bold text-body font-16" for="fecha"></label>
            </li>
            <li class="list-inline-item">
                <label class="text-body font-weight-bold" for="ho">HORA: </label>
                <label class="font-weight-bold text-body font-16" for="hora"></label>
            </li>
        </ul>
    </div>
