@{
    ViewData["Title"] = "Inicio2";


}


<div class=" row justify-content-center">
    <div class="col-md-8">
        <br />
        <br />
        <div class="card border-warning">
            <div class="card-body">
                <div class="text-center font-weight-bolder">
                    <h5 class="font-weight-bolder" style="color: #F98B06; font-size: x-large ">COOPERATIVA DE AHORRO Y CREDITO EDUCADORES DE HONDURAS LIMITADA COACEHL</h5>
                    <br />
                    <form method="post">
                        <h5 class="font-weight-bolder" style=" font-size: x-large "> Seleccione el tipo de ticket:</h5>
                        <br />
                        <div class="row justify-content-center">
                            <div class="col-4">
                                <button role="button" class="btn btn-outline-secondary btn-block font-weight-bold text-body" style="font-size: 20px" id="caja" asp-controller="Home" asp-action="Categorias" active>TERCERA EDAD</button>                              
                            </div>
                        </div>
                        <br />
                        <div class="row justify-content-center">
                            <div class="col-4">
                                <button role="button" class="btn btn-outline-secondary btn-block font-weight-bold text-body" style="font-size: 20px" id="negocios" asp-controller="Home" asp-action="Categorias" active>EMBARAZADA</button>
                            </div>
                        </div>
                        <br />
                        <div class="row justify-content-center">
                            <div class="col-4">
                                <button role="button" class="btn btn-outline-secondary btn-block font-weight-bold text-body" style="font-size: 20px" id="vivienda" asp-controller="Home" asp-action="Categorias" active>DISCAPACIDAD</button>
                            </div>
                        </div>
                        <br />
                        <div class="row justify-content-center">
                            <div class="col-4">
                                <button role="button" class="btn btn-outline-secondary btn-block font-weight-bold text-body" style="font-size: 20px" id="seguro" asp-controller="Home" asp-action="Categorias" active>NORMAL</button>
                            </div>
                        </div>
                        <br />
                        <br />
                        <br />
                        <div class="row justify-content-md-center">
                            <!--<button type="button" class="btn btn-primary">ACEPTAR</button-->
                            <button class="btn btn-lg font-weight-bold" style="background-color: #EAECEE; border-bottom-color: #ffffff; font-size: 20px; margin: 4px" role="button" asp-action="Index" asp-controller="Home">CANCELAR</button>
                            @*<button class="btn btn-lg font-weight-bold" style="background-color: #FDA944; border-bottom-color: #ffffff; font-size: 20px; margin: 4px" role="button" asp-controller="Home" asp-action="Categorias">ACEPTAR</button>*@
                        </div>
                    </form>
                    <blockquote class="blockquote mb-0">
                        <img id="image" src="/imagenes/logo.png" alt="Picture" class="float-left" width="100" height="100">
                    </blockquote>
                </div>
            </div>

        </div>
    </div>
</div>
