@{
    ViewData["Title"] = "Usuarios";

}

<br />
<br />
<div class="card text-center border-warning">
    <div class="card-body">
        <h5 class="font-weight-bolder" style="color: #F98B06">COOPERATIVA DE AHORRO Y CREDITO EDUCADORES DE HONDURAS LIMITADA COACEHL</h5>
        <br />
        <br />
        <div class="row justify-content-center">
            <div class="col-md-8">
                <table id="clientes" class="table table table-bordered table-striped">
                    <thead class="text-center text-dark thead-body">
                        <tr class="" style="color: #0F0E0E; background-color: #FDB661">
                            <th scope="col"></th>
                            <th scope="col">N.</th>
                            <th scope="col">CLIENTE</th>
                            <th scope="col">TICKET</th>
                            <th scope="col">TIPO DE TICKET</th>
                            <th scope="col">ESTADO</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheck1">
                                    <label class="custom-control-label" for="customCheck1"></label>
                                </div>
                            </td>
                            <td class="font-weight-bolder">1</td>
                            <td>JUAN PEREZ</td>
                            <td class="font-weight-bolder">CA001</td>
                            <td>TERCERA EDAD</td>
                            <td class="font-weight-bolder">PENDIENTE</td>
                        </tr>
                        <tr>
                            <td>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheck2">
                                    <label class="custom-control-label" for="customCheck2"></label>
                                </div>
                            </td>
                            <td class="font-weight-bolder">2</td>
                            <td>ANA GARCIA</td>
                            <td class="font-weight-bolder">CA002</td>
                            <td>NORMAL</td>
                            <td class="font-weight-bolder">PENDIENTE</td>
                        </tr>
                    </tbody>
                    <tbody>
                        <tr>
                            <td>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheck3">
                                    <label class="custom-control-label" for="customCheck3"></label>
                                </div>
                            </td>
                            <td class="font-weight-bolder">3</td>
                            <td>ANTONIO LAGOS</td>
                            <td class="font-weight-bolder">CA003</td>
                            <td>NORMAL</td>
                            <td class="font-weight-bolder">PENDIENTE</td>
                        </tr>
                        <tr>
                            <td>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheck4">
                                    <label class="custom-control-label" for="customCheck4"></label>
                                </div>
                            </td>
                            <td class="font-weight-bolder">4</td>
                            <td>LETICIA RIVAS</td>
                            <td class="font-weight-bolder">CA004</td>
                            <td>EMBARAZADA</td>
                            <td class="font-weight-bolder">PENDIENTE</td>
                        </tr>

                    </tbody>
                </table>
            </div>
            <div class="">
                <br />
                <button class="btn btn-md font-weight-bold btn-block" style="background-color: #FDA944; border-bottom-color: #ffffff; font-size: 20px; margin: 4px;" role="button">LLAMAR</button>
                <br />
                <button class="btn btn-md font-weight-bold btn-block" style="background-color: #FDA944; border-bottom-color: #ffffff; font-size: 20px; margin: 4px;" role="button">CERRAR</button>
                <br />
                @*<button class="btn btn-md font-weight-bold btn-block" style="background-color: #FDA944; border-bottom-color: #ffffff; font-size: 20px; margin: 4px;" role="button">REDIRIGIR</button>*@
                <div class="btn-group">
                    <button class="btn btn-md font-weight-bold btn-block dropdown-toggle" style="background-color: #FDA944; border-bottom-color: #ffffff; font-size: 20px; margin: 4px;" role="button" data-toggle="dropdown">
                        REDIRIGIR
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item font-weight-bold" href="#">NEGOCIO</a>
                        <a class="dropdown-item font-weight-bold" href="#">VIVIENDA</a>
                        <a class="dropdown-item font-weight-bold" href="#">SEGURO</a>
                    </div>
                </div>
                <br />

            </div>
        </div>
        <img id="image" src="/imagenes/logo.png" alt="Picture" class="float-left" width="100" height="100">
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#clientes').DataTable();
    });
</script>
